:root {
    --color-theme-lightest: #fffaf7;
    --color-theme-main: #ffae68;
    --color-theme-main-dark: #f2872b;

    --color-informal-word-darker: #f26e57;
    --color-informal-word-dark: #fc806a;
    --color-informal-word-light: lightpink; 
    --color-informal-word-lightest: #ffe0e5;

    --color-repeated-word-darker: #58aee8;
    --color-repeated-word-dark: #62befc;
    --color-repeated-word-light: powderblue;
    --color-repeated-word-lightest: #dceff2;

    --color-requested-word-darker: #4a996c;
    --color-requested-word-dark: #58ad7d;
    --color-requested-word-light: #b3eecd;

    --color-ignore-word-dark: #a5a5a5;
    --color-ignore-word-darker: #909090; 
}

body {
    background: white !important;
    color: #565656 !important;
    margin: 0;
    font-family: 'Antic', sans-serif !important;
}

header {
    background: var(--color-theme-main);
    color: white;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 0.5rem solid var(--color-theme-main-dark);
}

.nav-content {
    margin-right: 10vh;
}

#analyze-button {
    position: sticky;
    position: -webkit-sticky; /* Safari */

    bottom: 0.25rem;
    left: 75%;
    margin-right: 0.25rem;
    font-size: 1.25rem;
}

/* Put rounded top corners on the first card in the list after the 
   suggestion blurb.
*/
.card-body-suggestion-blurb + .card-header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.suggestion-paragraph {
    margin-bottom: 1rem;
}

.suggestion-anchor-link {
    font-weight: bolder;
}
.suggestion-anchor-link:hover {
    text-decoration: none !important;
}

.suggestion-link-informal {
    color: var(--color-informal-word-dark);
}
.suggestion-link-informal:hover {
    color: var(--color-informal-word-darker);
}

.suggestion-link-repeated {
    color: var(--color-repeated-word-dark);
}
.suggestion-link-repeated:hover {
    color: var(--color-repeated-word-darker);
}

.page-heading {
    font-size: 3rem;
    font-weight: bold;
}

.card-body-suggestion-blurb {
    color: black;
}

#logo-header-image {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem 1rem auto 0;
}

#editor {
    margin-bottom: 5rem;
}

#disclaimer-box {
    padding: 0.33rem;
    background: var(--color-theme-lightest);
    border-left: 3px var(--color-theme-main) solid;
    font-style: italic;
}

#back-button {
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#back-button:hover {
    color: #666;
}

.btn-success {
    background-color: #b3eecd !important;
    border: none !important;
    color: #565656 !important;
}

.btn-success:hover {
    background-color: #7ddba6 !important;
    border: none !important;
}

.btn-accordian {
    background: none;
}

.btn-accordian:focus {
    outline: none !important;
    box-shadow: none !important;
}

.highlight {
    padding-bottom: 2px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    display: inline-block;
    height: 1.5rem;
}

.highlight-anchor {
    display: inline;
}

.highlight-informal-word {
    border-bottom: 2px solid var(--color-informal-word-dark);
}

.highlight-repeated-word {
    border-bottom: 2px solid var(--color-repeated-word-dark);
}

.highlight-suggestion {
    display: none;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    position: fixed;
    background: white;
    z-index: 99999;
    max-width: 12rem;
    font-size: 0.85rem;
}
.highlight-suggestion-label {
    padding: 0.25rem;
    margin: 0;
    font-size: 1.1rem;
}
.highlight-suggestion-label-informal {
    background: var(--color-informal-word-light);
}
.highlight-suggestion-label-repeated {
    background: var(--color-repeated-word-light);
}

.highlight-btn-replace {
    width: 100%;
    border-radius: 0 !important;
    border: none !important;
    padding: 0 !important;
    height: 1.66rem;
    background: white !important;
}

.highlight-btn-replace:hover {
    background: var(--color-theme-lightest);
}

.highlight-suggestion:last-child {
    border-bottom-left-radius: 0.3rem !important;
    border-bottom-right-radius: 0.3rem !important;
}

.highlight-suggestion > .highlight-btn-replace-informal:not(:last-child) {
    border-bottom: 1px solid var(--color-informal-word-light) !important;
}

.highlight-suggestion > .highlight-btn-replace-repeated:not(:last-child) {
    border-bottom: 1px solid var(--color-repeated-word-light) !important;
}

.highlight-btn-replace-ignore {
    border-top-right-radius: 0.33rem;
}

.highlight-btn-replace-ignore-repeated {
    background: var(--color-repeated-word-dark) !important;
}

.highlight-btn-replace-ignore-repeated:hover {
    background: var(--color-repeated-word-darker) !important;
}

.highlight-btn-replace-ignore-informal {
    background: var(--color-informal-word-dark) !important;
}

.highlight-btn-replace-ignore-informal:hover {
    background: var(--color-informal-word-darker) !important;
}

.highlight-btn-replace-informal {
    color: var(--color-informal-word-dark) !important;
}
.highlight-btn-replace-informal:hover {
    color: var(--color-informal-word-darker) !important;
    background: var(--color-informal-word-lightest) !important;
}

.highlight-btn-replace-repeated {
    color: var(--color-repeated-word-dark) !important;
}
.highlight-btn-replace-repeated:hover {
    color: var(--color-repeated-word-darker) !important;
    background: var(--color-repeated-word-lightest) !important;
}

.highlight-btn-replace-requested {
    background: var(--color-requested-word-dark) !important;
}
.highlight-btn-replace-requested:hover {
    background: var(--color-requested-word-darker) !important;
}

.highlight-suggestion-informal-word {
    border: 2px solid var(--color-informal-word-dark);
}

.highlight-suggestion-repeated-word {
    border: 2px solid var(--color-repeated-word-dark); 
}

#highlight-suggestion-requested {
    position: fixed;
    border: 2px solid var(--color-requested-word-dark);
}

.highlight-suggestion-content {
    padding: 5px;
}

.highlight-suggestion-content-requested {
    padding: 0;
}

.highlight-suggestion-title {
    font-size: 1.2rem;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.highlight-suggestion-title-informal-word {
    background: var(--color-informal-word-light);
}
.highlight-suggestion-title-repeated-word {
    background: var(--color-repeated-word-light);
}
.highlight-suggestion-title-requested-word {
    background: var(--color-requested-word-light);
}

.suggestion-list-heading {
    color: grey;
}

.content-input {
    border: 1px solid var(--color-theme-main);
    border-radius: 0.5rem;
    padding: 1rem;
    background: var(--color-theme-lightest);

    width: 100%;
    height: 40rem;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/

    resize: none;
    margin-bottom: 1rem;
}

.content-input:focus {
    outline: none;
}

.card-suggestions {
    border: none !important;
}

.card-header-suggestion {
    cursor: pointer;
}

.card-body-suggestion {
    padding: 0 !important;
    border-radius: 0;
}

.list-group-item-suggestion {
    border-radius: 0 !important;
    display: flex !important;
    justify-content: space-between;
}
.list-group-item-suggestion:hover {
    background: var(--color-theme-lightest);
    cursor: pointer;
}

.list-group-item-suggetion-jumpto {
    color: lightgray;
}

.span-word {
    margin: .25rem .1rem;
    display: inline-block;
}

.font-normal {
    font-style: normal;
}

#review-container {
    display: none;
}

#headingInformalWords {
    background: var(--color-informal-word-light);
    border: none;
    border-bottom: solid 0.5rem var(--color-informal-word-dark);
}

#headingRepeatedWords {
    background: var(--color-repeated-word-light);
    border: none;
    border-bottom: solid 0.5rem var(--color-repeated-word-dark);
}