extend common.pug

block content
    .container(id="submission-container")
        .row
            .col-md-2
            .col-md-8
                p Enter your writing below then analyze it to get suggestions on improving your writing style!
                .content-input-container
                    textarea.content-input(placeholder="Enter here...")
                button#analyze-button.btn.btn-success Analyze
            .col-md-2
    .container#review-container
        p#back-button
            i.fas.fa-arrow-left
        .row
            .col-lg-1
            .col-lg-6.col-md-
                p#disclaimer-box 
                    span
                        img(src='static/images/warning.svg')
                    | After you make changes you may need to fix grammar issues
                #highlight-suggestion-requested.highlight-suggestion
                    .highlight-suggestion-title.highlight-suggestion-title-requested-word Replacements
                    .highlight-suggestion-content.highlight-suggestion-content-requested
                        ul.list-group
                            li.list-group-item.list-group-item-suggestion.list-group-item-suggestion-repeated
                                | banana
                            li.list-group-item.list-group-item-suggestion.list-group-item-suggestion-repeated
                                | cherry
                            li.list-group-item.list-group-item-suggestion.list-group-item-suggestion-repeated
                                | mango
                div(id="editor") 
            .col-lg-4.col-md-4.p-0
                .accordian
                    .card.card-suggestions
                        .card-body.card-body-suggestion-blurb
                                .text-center
                                    h2(id="titleIssueWords") Issues
                                .suggestion-list-heading
                                    | There were some issues found with your writing. Select a word below or hover over an underlined word to see more information.
                        .card-header.card-header-suggestion(id="headingInformalWords" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                            .d-flex.justify-content-between
                                h5(id="titleinformalWords") Informal Words 
                                i.fas.fa-chevron-down.chevron

                        .collapse.collapse-suggestions(id="collapseOne", aria-labelledby="headingInformalWords" data-parent="#accordion")
                            .card-body.card-body-suggestion(id="informalWordsCard")
                                | Here is some stuff
                        .card-header.card-header-suggestion(id="headingRepeatedWords" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
                            .d-flex.justify-content-between
                                h5(id="titleRepeatedWords") Repeated Words 
                                i.fas.fa-chevron-down.chevron

                        .collapse.collapse-suggestions(id="collapseTwo", aria-labelledby="headingRepeatedWords" data-parent="#accordion")
                            .card-body.card-body-suggestion(id="repeatedWordsCard")
                                | And even more stuff
                a(href="#", download='writing_analysis_summary.txt')#btn-summary.btn.btn-success.mt-1.float-right Download Summary
            .col-lg-1
